.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  height: inherit;
  width: 100%;
  color: aliceblue;
  background: radial-gradient(
    113.04% 64.86% at 39.45% -6.02%,
    rgba(54, 54, 54) 0%,
    rgba(255, 0, 238, 0) 100%
  ),
  radial-gradient(
    85.77% 64.53% at 104.3% 15.51%,
    rgb(20, 20, 20) 0%,
    rgba(166, 0, 255, 0) 100%
  ),
  radial-gradient(
    68.68% 59.77% at 50% 131.71%,
    #262628 34.7%,
    rgba(118, 5, 180, 0) 100%
  ),
  #2a292d;
  padding: 30px;
  min-height: 91vh;
}


  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  
  .button {
    background-color: blue;
    color: rgb(227, 241, 244);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    font-weight: 550;
    font-size: 0.85rem;
    cursor: pointer;
  }
  
  .button:hover {
    background: linear-gradient(150deg, green, darkgreen);
  }
  
  
  .div {
    background: rgb(34, 35, 41);
    padding: 20px;
    border-radius: 10px;
    color: rgb(232, 227, 227);
    /* width: 300px; */
    max-width: 100%; /* Ensure it doesn't exceed the parent's width */
  }
  
  .img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%; /* Aspect ratio (height as a percentage of width) */
    border-radius: 8px;
    overflow: hidden;
  }
  
  .img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}