.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    height: inherit;
    min-height: 100vh;
    padding: 100px 2vw;
    width: 100%;
    color: aliceblue;
    background: rgb(51, 50, 50);
    border:none !important;
  }
    .button {
      background-color: blue;
      color: rgb(227, 241, 244);
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin: 10px;
      font-weight: 550;
      font-size: 0.85rem;
      cursor: pointer;
    }
    
    .button:hover {
      background: linear-gradient(150deg, green, darkgreen);
    }
    
    
    .div {
      background: rgb(34, 35, 41);
      padding: 20px;
      border-radius: 10px;
      color: rgb(232, 227, 227);
      max-width: 100%; /* Ensure it doesn't exceed the parent's width */
      height: fit-content;
    }
    
    .img {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 70%; /* Aspect ratio (height as a percentage of width) */
      border-radius: 8px;
      overflow: hidden;
      height: fit-content;
    }
    
    .img img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
  
  
  @media (max-width: 1200px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 900px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
    }
  }