.container{
  position: sticky;
  top: 0;
    color: white;
    background: rgb(21, 21, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button{
    border: none;
    background: none; 
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.link:hover{
    color: rgb(24, 124, 232);
}
.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userMenu{
    display: flex;
    align-items: center;
}

.dropdownContent {
    position: relative;
    left: -110px;
    top: 10px;
    background: rgba(215, 215, 226, 0.9);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: fit-content;
    color: black;
    cursor: pointer;
  }
  .dropdownContent button:hover{
    background: rgb(168, 163, 163);
    color: white;
  }
  .dropdownContent button{
    width: 100%;
  }
.loginButtonContainer{
    background: rgb(166, 160, 160);
    width: fit-content;
}

@media (max-width: 500px) {
    .link{    
        margin: 0;
        padding: 16px;
        font-size: 16px;
    }   
    .button{    
        margin: 0;
    }   
}