.parent{
    position:sticky;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: 999;
}


.wrapper {
  position: relative;
  background: rgba(39, 39, 48, 0.654);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  z-index: 999;
}

.container {
  background: rgba(143, 150, 143, 0.944);
  max-width: 600px;
  width: 50vw;
  height: 100vh;
  transition: width 1s ease-in-out; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.toggleButton {
  display: flex;
  align-items: center;
}
.buttonContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primeButton{
    background: rgb(51, 50, 50);
    color: gray;
    font-weight: 900;
    height: 10vh;
    width: 36px;
    font-size: 1.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.child{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.button{
  background: rgb(84, 77, 77);
  width: 70%;
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}
.button:hover{
  background: rgb(86, 84, 84);
}
.closeModal {
  background: rgba(45, 45, 45, 0.287);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.item{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.counter{
  background: rgb(42, 89, 183);
  font-size: 0.8rem;
  padding: 0px 0.3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
@media (max-width:450px){
  .container{
    width: 60vw;
  }
}