.container{
    background: black;
    color: gray;
}
.listStyle,
.options
{
    margin: 0;
    padding: 30px;
}
.listStyle li,
.options li
{
    list-style: none;
    padding: 6px 10px;
}
.options{
    margin: 0;
}
a{
    text-decoration: none;
    color: blue;
}
.bottom{
    padding-bottom: 40px;
    text-align: center;
}