.container{
    background: black;
    color: gray;
}
.listStyle{
    margin: 0;
}
.listStyle li{
    list-style: none;
}
.options{
    margin: 0;
}
a{
    text-decoration: none;
    color: blue;
}
.bottom{
    padding-bottom: 40px;
    text-align: center;
}