.searchContainer{
width: fit-content;
}
.searchInput{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 30vw;
}
.searchButton
{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.searchButton,
.searchInput,
.button
{
    background: black;
    border: 2px solid rgb(82, 82, 82);
    padding: 0.4rem;
    color: gray;
    font-size: 0.8rem;
}

.searchInput:focus,
.searchButton:hover,
.button:hover
{
    background: rgb(76, 75, 75);
    color: white;
}
.searchInput{
    border: 2px solid gray transparent;
    transition: border-color 1s ease-out;
}
.error{
    border: 1px rgb(182, 0, 214) solid;
    transition: 1s ease-in-out;
}
@media (max-width:500px){
    .searchInput{
        width: 100px;
    }
}